In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from math import isnan
df = pd.read_csv(r'cuisine_version2.csv')

## Bow column seems obsolete

In [86]:
df.drop(['id','recipeName', 'PrepTime','img','flavors', 'bow'], axis= 1, inplace=True)

## Do we want to keep flavors column? It contains multiple NaNs

In [87]:
df.head(3)

                                         ingredients   cuisine
0  ['stew meat', 'flour', 'cumin', 'dried oregano...     cuban
1  ['flank steak', 'broccoli florets', 'cooking w...   chinese
2  ['boneless skinless chicken breasts', 'pineapp...  hawaiian

In [88]:
df.count()

ingredients    7541
cuisine        7541
dtype: int64

### No NaN values left in the dataframe:

In [89]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [ingredients, cuisine]
Index: []

In [90]:
def splitToList(stringValue):
    ## strip [] {} parentheses:
    stringValue = stringValue.replace(', ',',')
    stringValue = stringValue.replace('\'','')
    stringValue = stringValue[1:-1]
    splitted = []
    for string in stringValue.split(","):
        splitted.append(string.strip())
    return splitted

## Split ingredients column values to list

In [91]:
df['ingredients'] = df['ingredients'].apply(splitToList)
df.head()

                                         ingredients   cuisine
0  [stew meat, flour, cumin, dried oregano, salt,...     cuban
1  [flank steak, broccoli florets, cooking wine, ...   chinese
2  [boneless skinless chicken breasts, pineapple ...  hawaiian
3  [water, raw fish, sea salt, ground black peppe...  hawaiian
4  [chicken breasts, shallots, pumpkin, korma pas...    indian

## Prepare for 'one hot encoding'

In [81]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

ingredients_mlb = mlb.fit_transform(df['ingredients'])

In [82]:
mlb.classes_

array(['a steak sauce', 'accent seasoning', 'achiote paste', ...,
       'zitronensaft', 'zucchini', 'zucchini noodles'], dtype=object)

In [83]:
len(mlb.classes_)

3558

In [92]:
df = df.join(pd.DataFrame(ingredients_mlb,
                          columns=mlb.classes_,
                          index=df.index))

In [94]:
df.head(2)

,ingredients,cuisine,a steak sauce,accent seasoning,achiote paste,achiote powder,acorn squash,active dry yeast,adobo,adobo sauce,...,yuzu,yuzu juice,zaatar,zest,zesty italian dressing,zinfandel,ziti,zitronensaft,zucchini,zucchini noodles
0,"[stew meat, flour, cumin, dried oregano, salt,...",cuban,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"[flank steak, broccoli florets, cooking wine, ...",chinese,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0